<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load compress %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

    <!-- <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: "#da373d",
                        bug: "#aabb22",
                        dark: "#775544",
                        dragon: "#7766ee",
                        normal: "#aaaa99",
                        fire: "#ff4422",
                        water: "#3399ff",
                        electric: "#ffcc33",
                        grass: "#77cc55",
                        ice: "#66ccff",
                        fighting: "#bb5544",
                        poison: "#aa5599",
                        ground: "#ddbb55",
                        flying: "#8899ff",
                        psychic: "#ff5599",
                        rock: "#bbaa66",
                        ghost: "#6666bb",
                        steel: "aaaabb",
                        fairy: "#ee99ee"
                    }
                }
            }
        }
    </script> -->
    <title>Document</title>
</head>

<body class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">
    <header class="bg-gray-700">
        <!-- Nav -->
        <nav class="bg-light-blue-500 md:ml-64 py-6 px-3">
            <div class="container max-w-full max-auto flex items-center justify-between md:pr-8 md:pl-10">
                <div></div>
                <div></div>
            </div>
        </nav>
    </header>
    <main class="bg-gray-600">
        <div
            class="h-screen fixed top-0 md:left-0 -left-64 overflow-y-auto flex-row flex-nowrap overflow-hidden shadow-xl bg-white w-64 z-10 py-4 px-6 transition-all duration-300">
            <div class="flex-col items-stretch min-h-full flex-nowrap px-0 relative">
                <a class="mt-2 text-center w-full inline-block" target="_blank" rel="noreferrer" href="{% url 'dex' %}">
                    <h1 class="text-gray-900 text-xl font-serif font-bold leading-normal mt-0 mb-2">Django Dex</h1>
                </a>
                <div class="flex flex-col">
                    <hr class="my-4 min-w-full">
                    <ul class="flex-col min-w-full flex list-none">
                        <li class="rounded-lg mb-4">
                            <a class="flex items-center gap-4 text-sm text-gray-700 font-light px-4 py-3 rounded-lg"
                                href="{% url 'pokes' %}">
                                <span class="material-icons undefined text-2x1 leading-none">dashboard</span>
                                Pokedex
                            </a>
                        </li>
                        <li class="rounded-lg mb-4">
                            <a class="flex items-center gap-4 text-sm text-gray-700 font-light px-4 py-3 rounded-lg"
                                href="#">
                                <span class="material-icons undefined text-2xl leading-none">fit_screen</span>
                                Abilities
                            </a>
                        </li>
                        <li class="rounded-lg mb-4">
                            <a class="flex items-center gap-4 text-sm text-gray-700 font-light px-4 py-3 rounded-lg"
                                href="#">
                                <span class="material-icons undefined text-2xl leading-none">whatshot</span>
                                Types
                            </a>
                        </li>
                    </ul>
                    <ul class="flex-col min-w-full flex list-none absolute bottom-0"></ul>
                </div>
            </div>
        </div>
    </main>
    <section>
        <div class="md:ml-64">
            {% block content %}
            {% endblock %}
        </div>
    </section>    
        <footer
            class="py-6 px-16 border-t border-gray-200 font-light flex flex-col lg:flex-row justify-between items-center">
            {% block navigation %}
            {% endblock %}
        </footer>
    <!-- <footer class="p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="https://flowbite.com"
                class="hover:underline">Flowbite™</a>. All Rights Reserved.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6 ">About</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
            </li>
            <li>
                <a href="#" class="hover:underline">Contact</a>
            </li>
        </ul>
    </footer> -->
</body>
<script>
    function toggleDD(myDropMenu) {
        document.getElementById(myDropMenu).classList.toggle("invisible");
    }
</script>

</html>