{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Django Tailwind</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
	<div class="container mx-auto">
		<section class="flex items-center justify-center h-screen">
			<h1 class="text-5xl">Django + Tailwind = ❤️</h1>
		</section>
	</div>
	<div
		class="w-full h-10 bg-normal">
		bg-normal
	</div>
	<div
		class="w-full h-10 bg-electric">
		bg-electric
	</div>
	<div
		class="w-full h-10 bg-flying">
		bg-flying
	</div>
	<div
		class="w-full h-10 bg-poison">
		bg-poison
	</div>
	<div
		class="w-full h-10 bg-ground">
		bg-ground
	</div>
	<div
		class="w-full h-10 bg-steel">
		bg-steel
	</div>
	<div
		class="w-full h-10 bg-dragon">
		bg-dragon
	</div>
	<div
		class="w-full h-10 bg-fire">
		bg-fire
	</div>
	<div
		class="w-full h-10 bg-water">
		bg-water
	</div>
	<div
		class="w-full h-10 bg-grass">
		bg-grass
	</div>
	<div
		class="w-full h-10 bg-bug">
		bg-bug
	</div>
	<div
		class="w-full h-10 bg-fighting">
		bg-fighting
	</div>
	<div
		class="w-full h-10 bg-psychic">
		bg-psychic
	</div>
	<div
		class="w-full h-10 bg-fairy">
		bg-fairy
	</div>
	<div
		class="w-full h-10 bg-dark">
		bg-dark
	</div>
	<div
		class="w-full h-10 bg-ice">
		bg-ice
	</div>
	<div
		class="w-full h-10 bg-rock">
		bg-rock
	</div>
	<div
		class="w-full h-10 bg-ghost">
		bg-ghost
	</div>
	
</body>

</html>