{% extends "base_generic.html" %}
{% block content %}
<div class="bg-gradient-to-tr from-orange-100 via-violet-600 to-sky-900">
{% if object_list %}
{% for type in object_list %}
{% if forloop.counter0|divisibleby:3 %}<div class="flex flex-wrap">{% endif %}
    <div class="flex-1 p-4">
        <figure id="type" class="rounded-xl p-8 md:p-0 bg-slate-100 bg-opacity-10 backdrop-blur-lg drop-shadow-lg flex items-center justify-center h-40">
                    <button class="bg-{{ type.name }} shadow-slate-400 border-solid border-t-gray-50 text-slate-800 hover:opacity-80 rounded w-full h-full font-medium text-xl">
                        <a href="{{type.get_absolute_url}}">{{ type.name|capfirst }}</a>
                    </button>
        </figure>
    </div>
{% if forloop.counter|divisibleby:3 %}</div>{% endif %}
{% endfor %}
{% endif %}
</div>
{% endblock %}
{% block header %}
<div class="w-full">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form class="w-full" action="{% url 'type_search' %}">
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
        <div class="relative">
        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
        </svg>
    </div>
    <input type="search" id="default-search" name="type_name"
    class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    placeholder="Search Type by name" required >
    <button type="submit"
    class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
</form>
</div>
{% endblock %}